.header{
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: black;
  padding: 0.5rem 4rem;
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  z-index: 100;

  &_name{
    font-size: 1.3rem;
    text-decoration: none;
    color: white;    
  }

  &_nav{
    display: flex;
    align-items: center;
    column-gap: 4rem;   
  
    &_home, &_teams{
      text-decoration: none;
      color: white;
    }
    &_home:hover, &_teams:hover{
      color: var(--primary);
    }
  }
}